.profile-picture {
    margin-top: 5%;
    border-radius: 50%;
    width: 20rem;
    opacity: 85%;
    border: 2px dashed var(--accent-color-2);
    transition: width 200ms;
}

.profile-picture:hover {
    opacity: 100%;
    width: 21rem;
    transition: width 200ms;
}

@media only screen and (max-width: 1200px) {
    .profile-picture {
        width: 15rem;
    }

    .profile-picture:hover {
        width: 18rem;
    }
}

@media only screen and (max-width: 780px) {
    .profile-picture {
        width: 20rem;
    }

    .profile-picture:hover {
        width: 21rem;
    }
}
