.project-card {
    position: relative;
    background-image: linear-gradient(var(--primary-color), var(--secondary-color));
    box-shadow: 0 0 15px;
    border-radius: 15px;
    width: 60vw;
    min-width: 325px;
    padding: 2%;
}

.project-card-title {
    color: var(--accent-color-1);
}

.project-card-images {
    display: flex;
    flex-wrap: wrap;
}

.project-card-image {
    width: 46%;
    height: 18rem;
    border: 2px solid var(--text-color);
    border-radius: 10px;
    margin-right: 2%;
    margin-bottom: 2%;
}

.project-card-text {
    font-size: 1.5rem;
}

.project-card-buttons {
    text-align: right;
}

.project-card-button {
    width: 20%;
    height: 40px;
    font-size: 90%;
    margin: 1%;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 0 0 5px var(--text-color);
    opacity: 90%;
    cursor: pointer;
}

@media only screen and (max-width: 780px) {
    .project-card {
        text-align: center;
    }

    #im1 {
        margin: 0;
        width: 98.5%;
    }

    #im2 {
        display: none;
    }
}
