.contact-page {
    padding-top: 4%;
    margin: auto;
    height: 85vh;
    width: 80vw;
    text-align: center;
    font-size: 1.5rem;
}

.contact-main {
    margin-top: 5%;
    display: flex;
}

.socials {
    width: 50vw;
}

.contact-form-container {
    width: 50vw;
    border-left: 1px solid black;
}

.group {
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
}

input {
    width: 18rem;
    height: 20px;
    margin: auto;
    border-radius: 15px;
    padding-left: 2%;
    padding-right: 2%;
}

textarea {
    margin: auto;
    width: 22rem;
    border-radius: 15px;
    padding: 2%;
}

.contact-button {
    width: 100px;
    height: 40px;
}

.resume {
    position: absolute;
    top: 90vh;
    right: 46vw;
}

.social-link {
    width: 30%;
    margin-top: 5%;
}

.social-links-container {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 780px) {
    .contact-page {
        padding-top: 10%;
        margin-bottom: 6%;
        width: 100vw;
        height: 130vh;
    }

    .contact-main {
        display: block;
        width: 100vw;
    }

    .socials {
        width: 100vw;
    }

    .social-links-container {
        margin-top: -5%;
        margin-bottom: 10%;
    }

    .contact-form-container {
        border: none;
        width: 100vw;
    }

    .resume {
        width: 100%;
        top: 128%;
        left: 1%;
    }
}
