.additional-skills-section {
    margin-top: 5%;
    width: 40vw;
    text-align: center;
}

.skills-title-section {
    display: flex;
    justify-content: center;
}

#plus {
    font-size: 5rem;
}

@media only screen and (max-width: 780px) {
    .additional-skills-section {
        width: 100vw;
    }
}
