.skills-section {
    margin-top: 5%;
}

.stack {
    display: flex;
    justify-content: center;
}

.stack-title {
    text-align: center;
    margin-right: 2%;
}

.stack-icon {
    width: 4rem;
    height: 4rem;
}

.skill-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
}

.skill-cards img {
    width: 64px;
}

@media only screen and (max-width: 780px) {
    .skills-section {
        margin-top: 20%;
    }
}
