.home-page-main {
    display: flex;
    height: 85vh;
    font-size: larger;
    padding-top: 4%;
}

@media only screen and (max-width: 1200px) {
    .home-page-main {
        padding-top: 8%;
    }
}

@media only screen and (max-width: 780px) {
    .home-page-main {
        display: block;
        height: 200vh;
    }
}
