.home-page-main {
    display: flex;
    height: 100vh;
    font-size: larger;
}

.home-page-skills {
    display: flex;
    justify-content: center;
    width: 50vw;
}

@media only screen and (max-width: 780px) {
    .home-page-main {
        display: block;
    }

    .home-page-skills {
        margin-top: 25%;
        width: 100vw;
    }
}
