.home-page-main {
    display: flex;
    height: 100vh;
    font-size: larger;
    padding-top: 4%;
}

.home-page-skills {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: 5%;
}

@media only screen and (max-width: 1200px) {
    .home-page-main {
        padding-top: 8%;
    }
}

@media only screen and (max-width: 780px) {
    .home-page-main {
        display: block;
    }

    .home-page-skills {
        display: block;
        margin-top: 40em;
        width: 100vw;
    }
}
