.featured-section {
    margin-top: 2%;
    text-align: center;
    width: 60vw;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
}

@media only screen and (max-width: 780px) {
    .featured-section {
        margin-top: 18%;
        width: 100vw;
        height: 100vh;
    }

    .featured-border {
        margin: auto;
        margin-top: 10%;
        border-right: none;
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);
        width: 90%;
    }
}
