.navbar {
    z-index: 100;
    background-image: linear-gradient(var(--primary-color), var(--secondary-color));
    border-bottom: 1px solid var(--text-color);
    width: 100vw;
    text-align: left;
}

.nav-brand {
    margin-left: 5%;
    text-decoration: none;
}

.nav-items {
    list-style: none;
    display: inline-flex;
    gap: 10rem;
    padding: 0;
    margin-left: 55%;
}

.nav-link {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
}

.nav-link:hover {
    color: var(--accent-color-1);
}
