.add-skill-card {
    margin: auto;
    padding: 0.5%;
    margin-bottom: 2%;
    width: 50%;
    min-width: 320px;
    background-image: linear-gradient(var(--primary-color), var(--secondary-color));
    box-shadow: 0 0 10px var(--text-color);
}
