.add-skill-card {
    margin: auto;
    padding-left: 1%;
    padding-right: 1%;
    margin-bottom: 2%;
    width: 50%;
    min-width: 320px;
    background-color: var(--secondary-color);
    border: 2px solid var(--text-color);
}
